.img-icon {
	width: 64px;
	height: 64px;
}

.img-icon.small-icon {
	width: 32px;
	height: 32px;
}

.btn-icon {
	@extend .button;
	background-color: transparent;
	text-align: center;
	color: black;	

	&[disabled], &[disabled]:hover, &[disabled]:focus {
		background-color: transparent;
		path {
			fill: grey;
		}
	}

	&:hover, &:focus {
		background-color: transparent;
		outline: none;
		color: black;
		path {
			fill: red;
		}
	} 
}

#btn-comments, #btn-audio {
	path {
		fill: blue;
	}
}

input[type=checkbox]:checked + .btn-icon path {	
	fill: red;
}

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.rotate {
	& div {
		position: absolute;
		top: -40px;	
		left: -100px;		
		width: 200px;
		& h3 {
			color: white;
			padding-left: 10px;
			text-transform: uppercase;			
		}					
		background-color: $brand-color;
		
	}
	& h5 {
		position: absolute;		
		top: 0px;
		right: 150px;
		color: $brand-color;
		text-transform: uppercase;
	}
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

cite {
	&:before {
		content: '« ';
	}
	&:after {
		content: ' »';
	}
}

h6 {
	font-size: 0.8em;

	&:first-of-type {
		margin-top: 10px;
	}
	&:last-of-type {
		margin-bottom: 20px;
	}
}

textarea {
	resize: none;
}

strong {
	font-weight: 700;
}

.hidden {
	display: none;
}

.columns.clear-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.comments_box {
	margin: 5px 0;
	padding: 10px;
	padding-bottom: 0px;
	& p {
		margin-bottom: 2px;
	}
	border: 1px solid black;
	@include border-radius(2px);
}

.comments_1 {
	background-color: #EBE0E0;
}

.comments_2 {
	background-color: #EBE6E0;	
}

.comments_3 {
	background-color: #EBEBE0;
}

.comments_4 {
	background-color: #E0EBE0;
}

.comments_5 {
	background-color: #E0E6EB;
}

.comments_6 {
	background-color: #EBE0EB;
}